/* navbar */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #252424;
    color: #f5f5f5;
}

header {
    background: #1e88e5;
    padding: 15px 20px;
    font-family: "Trebuchet MS", sans-serif;  
}

/* podświetlane kursy */
.selected-row {
    outline: 2px solid #ffffff;
}

/* zegarek */
#clock {
    font-size: 18px;
    font-weight: bold;
}

/* Kontener na główną treść – wyśrodkowanie i max szerokość */
.container {
    max-width: 1500px;
    margin: 20px auto;
    padding: 0 15px;
}

.custom-table th,
.custom-table td {
    text-align: left;
}

.custom-table th {
    background: #1e1e1e;
}

.custom-table tr:nth-child(even) {
    background: #222;
}

.custom-table tr:nth-child(odd) {
    background: #181818;
}

.custom-table tr:hover {
    background: #333;
}


/* ----- Responsywność ----- */
@media (max-width: 700px) {

    header {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }

    header h1 {
        font-size: 18px;
    }

    #clock {
        font-size: 16px;
    }

    .container {
        margin: 10px auto;
        padding: 0 8px;
    }

    .custom-table th,
    .custom-table td {
        padding: 6px 6px;
        font-size: 14px;
    }
}

/* łapka */
.custom-table tbody tr {
    cursor: pointer;
}

/* formularz filtrowania */
.filter-form .form-label,
.filter-form .form-check-label {
    color: #e0d3d3;
}
